<?xml version="1.0"?>

<robot name="asus_sensor-g" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="asus_sensor-g" params="prefix name">
        
        <xacro:property name="M_SCALE" value="0.001"/>
        <xacro:property name="M_PI" value="3.141592"/>
        
        <!-- Not sure why in a macro arguments cannot be passed to an
        associated .gazebo.xacro file... -->
        <!-- See https://github.com/turtlebot/turtlebot and there
        turtlebot_description/urdf/turtlebot_gazebo.urdf.xacro -->
        <gazebo reference="${name}_link">
            <sensor name="${name}_sensor" type="depth">
                <always_on>true</always_on>
                <update_rate>20.0</update_rate>
                <camera>
                    <horizontal_fov>${60.0*M_PI/180.0}</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>B8G8R8</format>
                    </image>
                    <clip>
                        <near>0.05</near>
                        <far>8.0</far>
                    </clip>
                    <noise>
                        <!-- Noise is sampled independently per pixel on each frame.
                        That pixel's noise value is added to each of its color
                        channels, which at that point lie in the range [0,1]. -->
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.001</stddev>
                    </noise>
                </camera>
                <plugin name="${name}_sensor_controller"
                        filename="libgazebo_ros_openni_kinect.so">
                    <cameraName>${name}</cameraName>
                    <alwaysOn>true</alwaysOn>
                    <updateRate>10.0</updateRate>
                    <imageTopicName>rgb/image_raw</imageTopicName>
                    <depthImageTopicName>depth/image_raw</depthImageTopicName>
                    <pointCloudTopicName>depth/points</pointCloudTopicName>
                    <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
                    <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
                    <frameName>${name}_depth_optical_frame</frameName>
                    <pointCloudCutoff>0.4</pointCloudCutoff>
                    <pointCloudCutoffMax>8.0</pointCloudCutoffMax>
                    <baseline>0.1</baseline>
                    <distortion_k1>0.0</distortion_k1>
                    <distortion_k2>0.0</distortion_k2>
                    <distortion_k3>0.0</distortion_k3>
                    <distortion_t1>0.0</distortion_t1>
                    <distortion_t2>0.0</distortion_t2>
                    <robotNamespace>${prefix}</robotNamespace>
                </plugin>
            </sensor>
        </gazebo>
        <gazebo reference="${name}_link">
            <sensor name="${name}_camera" type="camera">
                <always_on>true</always_on>
                <update_rate>30.0</update_rate>
                <camera name="${name}_camera">
                    <horizontal_fov>${60.0*M_PI/180.0}</horizontal_fov>
                    <image>
                        <width>1280</width>
                        <height>1024</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>10.0</far>
                    </clip>
                    <noise>
                        <!-- Noise is sampled independently per pixel on each frame.
                        That pixel's noise value is added to each of its color
                        channels, which at that point lie in the range [0,1]. -->
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
                <plugin name="${name}_camera_controller"
                        filename="libgazebo_ros_camera.so">
                    <alwaysOn>true</alwaysOn>
                    <update_rate>30.0</update_rate>
                    <cameraName>${name}</cameraName>
                    <imageTopicName>hd/image_color_rect</imageTopicName>
                    <cameraInfoTopicName>hd/camera_info</cameraInfoTopicName>
                    <frameName>${name}_rgb_optical_frame</frameName>
                    <baseline>0.1</baseline>
                    <distortionK1>0.0</distortionK1>
                    <distortionK2>0.0</distortionK2>
                    <distortionK3>0.0</distortionK3>
                    <distortionT1>0.0</distortionT1>
                    <distortionT2>0.0</distortionT2>
                    <robotNamespace>${prefix}</robotNamespace>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>
