<?xml version="1.0"?>

<robot name="kinect2_sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="kinect2_sensor" params="prefix name parent cam_px cam_py cam_pz cam_or cam_op cam_oy">

      <xacro:include filename="$(find kinect2_description)/urdf/kinect2/kinect2-no-gazebo.xacro"/>
      <kinect2_sensor-ng parent="${parent}" name="${name}" cam_px="${cam_px}" cam_py="${cam_py}" cam_pz="${cam_pz}" cam_or="${cam_or}" cam_op="${cam_op}" cam_oy="${cam_oy}"/>

      <xacro:include filename="$(find kinect2_description)/urdf/kinect2/kinect2-gazebo.xacro"/>
      <kinect2_sensor-g prefix="${prefix}" name="${name}"/>


    </xacro:macro>
</robot>
