Source: ros-kinetic-asus-description
Section: misc
Priority: extra
Maintainer: Manuel Fernandez <mfernandezcarmona@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-asus-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-kinect-control, ros-kinetic-turtlebot-description
Description: Description of Asus xtion pro live sensor.
