Source: ros-kinetic-kinect-control
Section: misc
Priority: extra
Maintainer: Manuel Fernandez <mfernandezcarmona@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-kinect-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-controller-manager
Description: Publishes the state information for the Kinect stand.
